html, body {
	overflow-x: hidden;
}
html {
	font-size: $base-font-size;
}

body {
	font-size: 100%;
	background-color: $body-bg;
	color: $primary-color;
}

nav {
	> ul {
		padding-left: 0;
		list-style: none;
	}
}

textarea {
	max-width: 100%;
	resize: vertical;
	min-height: 250px;
}

iframe {
	overflow: hidden !important;
	border: none;
	background-color: transparent;
	max-width: 100%;
}

[data-bg] {
	background-size: cover;
	background-repeat: no-repeat;
}