// Color
$primary: 			#20656f;
$secondary: 		#ed3426;
$primary-color: 	$primary;
$secondary-color: 	$secondary;
$inverse: 			invert($primary);
$inverse-color: 	$inverse;
$dark: 				#222222;
$dark-color: 		$dark;
$light: 			#f1f1f1;
$light-color: 		$light;

$success: 			#5cb85c;
$info: 				#5bc0de;
$warning: 			#f0ad4e;
$danger: 			#ed3200;

$gray: 				#ededed;
$gray-color: 		$gray;
$gray-dark:			darken($gray, 50%);
$gray-dark-color:   $gray-dark;
$gray-light: 		lighten($gray, 2%);
$gray-light-color: 	$gray-light;

$body-bg: 			$gray;

// Font
$primary-font-family: "Raleway", "Roboto", "Open Sans", "Helvetica Nueue", sans-serif;
$secondary-font-family: "Lato", "Lato Thin", "Lato", serif;
$heading-font-family: $primary-font-family;
$subheading-font-family: $secondary-font-family;

$font-size-base-rem: 	1rem;
$font-size-base-px: 	18px;//3.5vh;
$font-size-base: 		$font-size-base-rem;
$font-size: 			$font-size-base-rem;
$font-size-h1: 			$font-size-base-rem*4;
$font-size-h2: 			$font-size-base-rem*3;
$font-size-h3: 			$font-size-base-rem*2;
$font-size-h4: 			$font-size-base-rem*1;
$font-size-h5: 			$font-size-base-rem*0.9;
$font-size-h6: 			$font-size-base-rem*0.8;
$line-height-base: 		1.8;
$line-height-narrow: 	0.8;
$line-height: 			1;
$line-height-normal: 	$line-height;
$line-height-heading: 	1.1;
$line-height-wide: 		2.8;

$kerning-base:		2px;
$kerning-wide:		4px;
$kerning-wider:		8px;
$kerning-narrow: 	2px;
$kerning-narrower:	1px;

$font-weight-hairline: 	100;
$font-weight-thin: 		200;
$font-weight-light: 	300;
$font-weight-base: 		400;
$font-weight-heading: 	500;
$font-weight-bold: 		700;
$font-weight-heavy: 	800;
$font-weight-black: 	900;

// Margin
$margin: 0.833333rem;
$margin-xs: $margin/4;
$margin-sm: $margin/2;
$margin-lg: $margin*2;
$margin-xl: $margin*4;

// Padding
$padding: 	 0.833333rem;
$padding-xs: $padding/4;
$padding-sm: $padding/2;
$padding-lg: $padding*2;
$padding-xl: $padding*4;

// Transitions
$transition-default: all 0.3s ease-in-out;

// Sidebar
$sidebar-width-wide: 12vw;//150px;
$sidebar-width-narrow: 5vw;//50px;


// =====================
// Bootstrap Override
$enable-flex:               false !default;
$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

$brand-primary: 			$primary !default;
$brand-success: 			$success !default;
$brand-info: 				$info !default;
$brand-warning: 			$warning !default;
$brand-danger: 				$danger !default;

$border-radius-base: 		0 !default;
$border-radius-large:   	0 !default;
$border-radius-small:  		0 !default;

$grid-gutter-width: 		30px !default;

$container-tablet: 			(720px + $grid-gutter-width) !default;
$container-sm:	 			$container-tablet !default;

$container-desktop: 		(940px + $grid-gutter-width) !default;
$container-md: 				$container-desktop !default;

$container-large-desktop:	(1340px + $grid-gutter-width) !default;
$container-lg: 				$container-large-desktop !default;

$breakpoint-sm: 			544px;
$breakpoint-md: 			768px;
$breakpoint-lg: 			992px;
$breakpoint-xl: 			1200px;