.nav {
	z-index: 997;
	&-landing-nav {
		position: absolute;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		@include center;
		a {
			text-decoration: none;
			font-family: $primary-font-family;
			font-size: $font-size-base*1.2;
			font-weight: $font-weight-light;
		}
		.menu {
			&-list {
				display: flex;
			}
			&-item {
				width: 100%;
				position: relative;
				&:first-child {
					left: 0;
				}
				&:nth-child(2) {
					top: 130px;
				}
				&:nth-child(3) {
					right: 0;
				}
			}
		}
	}
}