.nav {
	z-index: 997;
	&-landing-nav {
		position: absolute;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		@include center;
		a {
			text-decoration: none;
			font-family: $primary-font-family;
			font-size: $font-size-base*1.111;
			font-weight: $font-weight-light;
		}
		.menu {
			&-list {
				display: flex;
			}
			&-item {
				width: 100%;
				position: relative;
				&:first-child {
					left: 0;
				}
				&:nth-child(2) {
					top: 130px;
				}
				&:nth-child(3) {
					right: 0;
				}
			}
		}
	}
	&-main {
		.main-menu {
			text-align: right;
			margin-top: $margin;
		}
	}
}

.nav-fixed {
	width: $sidebar-width-wide;
	top: 0;
	position: fixed;
	&-left {
		left: 0;
	}
	&-right {
		right: 0;
	}
	&.toggled {
		width: $sidebar-width-narrow;
		~ .main:not(.main-fluid){
			margin-left: $sidebar-width-narrow;
		}
	}
	~ .main:not(.main-fluid) {
		margin-left: $sidebar-width-wide;
	}

	.menu {
		text-align: right;
	}
}

@media only screen and (max-width: $breakpoint-sm) {
	[class*="nav-fixed-"] {
		position: relative;
		width: 100%;
	}
	.nav-main {
		height: 50px;
		background: $primary-color;
	}
}