@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,800,900);
/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

#tinymce {
    font-size: 18px;
}
#tinymce p,
#tinymce li,
#tinymce address,
#tinymce label,
#tinymce blockquote,
#tinymce .wp-caption-dd {
    font-family: "Lato", "Open Sans", "HelveticaNueu", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.9;
}
#tinymce .wp-caption-dd {
    text-align: center;
    font-size: 0.9em;
}
#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce h5,
#tinymce h6 {
    font-family: "Raleway", "Lato", "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-top: 3px;
    margin-bottom: 5px;
}
#tinymce h1 {
    font-size: 4rem;
    font-weight: 800;
}
#tinymce h2 {
    font-size: 3rem;
    font-weight: 600;
}
#tinymce h3 {
    font-size: 2rem;
    font-weight: 700;
}
#tinymce h4 {
    font-size: 1rem;
}
#tinymce h5 {
    font-size: 0.9rem;
}
#tinymce h6 {
    font-size: 0.8rem;
}
#tinymce img {
    max-width: 100%;
    height: auto;
}

#tinymce .img-responsive {
    max-width: 100%;
}
#tinymce dd.wp-caption-dd {
    text-align: center !important;
}